nav {
  background-color: rgba(0, 0, 0, 0.5); 
  border-radius: 10px; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
}
  
nav ul {
  list-style: none;
  display: flex;
}
  
nav li {
  margin: 0 10px;
}

nav darklight {
  margin-left: auto;
  padding-right: 70px;
}
  
nav a {
  text-decoration: none;
  color: white;
}

body {
  background: linear-gradient(to right, black, Lightslategray);
}

.square {
  background-color: rgba(0, 0, 0, 0.3); 
  border-radius: 10px; 
  width: 100%;
  height: 110px;
}
  
.square h1 {
  padding-left: 70px;
  padding-top: 10px;
  color: white;
}
  
.square h2 {
  padding-left: 70px;
  color: white;
}

.pubcontainer {
  background-color: rgba(0, 0, 0, 0);
  width: 40%;
  height: 470px;
  z-index: 1;
  position: relative;
}

.pubcontainer h1 {
  padding-left: 70px;
  padding-top: 10px;
  color: white;
}

.pubcontainer p {
  padding-left: 70px;
  color: white;
}

.pubcontainer a {
  padding-left: 70px;
  color: white;
  text-decoration: underline;
  padding-bottom: 27px;
  position: absolute;
  bottom: 0;
  font-family: Arial;
  font-size: 14px;
}

.maincontainer {
  background-color: rgba(0, 0, 0, 0.1); 
  border-radius: 10px; 
  width: 100%;
  height: 470px;
  z-index: -2;
  display: flex;
}

.languagecontainer {
  background-color: rgba(0, 0, 0, 0);  
  width: 60%;
  height: 470px;
  display:block;

}

.languagecontainer h1 {
  padding-left: 30px;
  padding-top: 10px;
  color: white;
  font-family: Arial;
  font-size: 27px;
}

.prelanguageapp {
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
  height: 300px;
  display:flex;
  border-radius:10px;
}

.languageapp {
  background-color: rgba(0, 0, 0, 0.5);  
  width: 92%;
  height: 300px;
  display:flex;
  border-radius:10px ;
}

.langpreview {
  background: rgba(0, 0, 0, 0.3);  
  width: 75%;
  height: 300px;
  border-radius:10px ;
  position: relative;
  overflow:hidden;
  text-align:center;
  display:block;
}

.langimg{
  padding-top: 50px;
  width: auto;
  height: 40%;
  overflow:hidden;
}

.langpreview h1 {
  Color:white;
  font-size: 25px;
  padding-left:0px;
}

.langpreview a {
  Color:white;
  font-size: 20px;
  font-style:underline;
}

.langpreview p {
  Color:white;
  font-size: 14px;
  padding-left:31px;
  font-family: Arial;
  padding-left:0px;
}

.languages {
  background-color: rgba(0, 0, 0, 0);  
  width: 25%;
  height: 300px;
  display:block;
  z-index: 2;
  text-align:center;
}

.thelanguage {
  background-color: rgba(0, 0, 0, 0);  
  width: 100%;
  height: 20%;
  display:flex;
  z-index: 2;
}

.languages:hover .language1{
  transition: 0.3s;
  filter:blur(5px);
}
.languages:hover .language2{
  transition: 0.3s;
  filter:blur(5px);
}
.languages:hover .language3{
  transition: 0.3s;
  filter:blur(5px);
}
.languages:hover .language4{
  transition: 0.3s;
  filter:blur(5px);
}
.languages:hover .language5{
  transition: 0.3s;
  filter:blur(5px);
}

.languages .language1:hover {
  transition: 0.3s;
  transform:scaleX(1.1);
  filter:blur(0px);
  background: linear-gradient(to right, rgba(0, 109, 252, 0.4), rgba(166, 0, 255, 0.4));
}

.languages .language2:hover {
  transition: 0.3s;
  transform:scaleX(1.1);
  filter:blur(0px);
  background: linear-gradient(to right, rgba(136, 73, 0, 0.4), rgba(255, 60, 0, 0.4));
}

.languages .language3:hover {
  transition: 0.3s;
  transform:scaleX(1.1);
  filter:blur(0px);
  background: linear-gradient(to right, rgb(213, 202, 0), rgba(255, 174, 0, 0.4));
}

.languages .language4:hover {
  transition: 0.3s;
  transform:scaleX(1.1);
  filter:blur(0px);
  background: linear-gradient(to right, rgb(51, 255, 0, 0.4), rgba(162, 255, 0, 0.4));
}

.languages .language5:hover {
  transition: 0.3s;
  transform:scaleX(1.1);
  filter:blur(0px);
  background: linear-gradient(to right, rgb(255, 0, 204, 0.4), rgba(253, 0, 84, 0.4));
}

.languages h1 { 
  color:white;
  font-family: arial;
  font-size: 15px;
  padding-left:0px;
}

.language1 { 
  width: 100%;
  height: 100%;
  border-radius: 10px;
  text-align: center;
  z-index: 4;
  background: rgba(0,0,0,.3);
  
}

.language2 { 
  width: 100%;
  height: 100%;
  border-radius: 10px;
  z-index: 4;
  background: rgba(0,0,0,.3);
}

.language3 { 
  width: 100%;
  height: 100%;
  border-radius: 10px;
  z-index: 4;
  background: rgba(0,0,0,.3);
}


.language4 { 
  width: 100%;
  height: 100%;
  border-radius: 10px;
  z-index: 4;
  background: rgba(0,0,0,.3);
}

.language5 { 
  width: 100%;
  height: 100%;
  border-radius: 10px;
  z-index: 4;
  
  background: rgba(0,0,0,.3);
}

.appcontainer{
  background-color: rgba(0, 0, 0, 0.1); 
  width: 100%;
  height: 1000px;
  padding-left: 4px;
  display:block;
}

.appcontainer h1{
  padding-left: 70px;
  padding-top: 20px;
  color: white;
}

.projectcontainer {
  width:100%;
  height: 900px;
  background-color: rgba(165, 42, 42, 0);
  display: flex;
}

.project {
  width:25.3%;
  height: 200px;
  background-color: rgba(0, 0, 0, 0.2);
  text-align: center;
  border-radius:10px ;
  z-index: 2;
  display:block;
}

.vspace {
  width:6%;
  height: 300px;
  background-color: rgba(165, 42, 42, 0);
}

.projectimage {
  width:100%;
  height: 76%;
  background-color: rgba(0, 0, 0, 0);
  text-align: center;
  border-radius:10px ;
  z-index: 2;
}

.projectimage img {
  width:100%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
  border-radius: 10px;
}

.project p {
  color: white;
  font-family: Arial;
  font-size: 15px;
  z-index: 3;
}

.project a {
  padding-left: 20px;
  color: white;
  text-decoration: underline;
  font-family: Arial;
  font-size: 14px;
  z-index: 3;
}