nav {
  background-color: rgba(0, 0, 0, 0.5); 
  border-radius: 10px; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
}
  
nav ul {
  list-style: none;
  display: flex;
}
  
nav li {
  margin: 0 10px;
}

nav darklight {
  margin-left: auto;
  padding-right: 70px;
}
  
nav a {
  text-decoration: none;
  color: white;
}

body {
  background: linear-gradient(to right, black, Lightslategray);
}

.square {
  background-color: rgba(0, 0, 0, 0.3); 
  border-radius: 10px; 
  width: 100%;
  height: 110px;
}
  
.square h1 {
  padding-left: 70px;
  padding-top: 10px;
  color: white;
}
  
.square h2 {
  padding-left: 70px;
  color: white;
}

.pubcontainer {
  background-color: rgba(0, 0, 0, 0);
  width: 40%;
  height: 470px;
  z-index: 1;
  position: relative;
}

.pubcontainer h1 {
  padding-left: 70px;
  padding-top: 10px;
  color: white;
}

.pubcontainer p {
  padding-left: 70px;
  color: white;
}

.pubcontainer a {
  padding-left: 70px;
  color: white;
  text-decoration: underline;
  padding-bottom: 27px;
  position: absolute;
  bottom: 0;
  font-family: Arial;
  font-size: 14px;
}

.maincontainer {
  background-color: rgba(0, 0, 0, 0.1); 
  border-radius: 10px; 
  width: 100%;
  height: 470px;
  z-index: -2;
  display: flex;
}

.leftcontainer {
  background-color: rgba(0, 0, 0, 0);  
  width: 30%;
  height: 470px;
  z-index: 1;
  position: relative;
}
.leftrepocontainer {
  background-color: rgba(0, 0, 0, 0);  
  width: 100%;
  height: 310px;
  z-index: 1;
}

.rightcontainer {
  background-color: rgba(0, 0, 0, 0); 
  width: 30%;
  height: 470px;
  z-index: 1;
}

.leftrepocontainer img{
  padding-left: 30px;
  width: 85%;
  height: 48%;
  z-index: 2;
}

.rightcontainer img{
  z-index: 2;
  width: 85%;
  height: 30%;
  padding-left: 20px;
}

.leftcontainer h1{
  padding-left: 30px;
  padding-top: 10px;
  color: white;
}

.leftcontainer a{
  padding-left: 30px;
  color: white;
  text-decoration: underline;
  padding-bottom: 27px;
  position: absolute;
  bottom: 0;
  font-family: Arial;
  font-size: 14px;
}

.appcontainer{
  background-color: rgba(0, 0, 0, 0.1); 
  width: 100%;
  height: 1000px;
  padding-left: 4px;
  display:block;
}

.appcontainer h1{
  padding-left: 70px;
  padding-top: 20px;
  color: white;
}

.projectcontainer {
  width:100%;
  height: 900px;
  background-color: rgba(165, 42, 42, 0);
  display: flex;
}

.project {
  width:25.3%;
  height: 200px;
  background-color: rgba(100, 2, 100, 0.2);
  text-align: center;
  border-radius:10px ;
}

.vspace {
  width:6%;
  height: 300px;
  background-color: rgba(165, 42, 42, 0);
}

.project p {
  color: white;
  font-family: Arial;
  font-size: 15px;
}

.project a {
  padding-left: 20px;
  color: white;
  text-decoration: underline;
  font-family: Arial;
  font-size: 14px;
}