nav {
  background-color: rgba(0, 0, 0, 1); 
  width:98.7%;
  top: 0;
  height: 7%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 50;
  border:2px solid rgb(0, 247, 255);
}
  
nav ul {
  list-style: none;
  display: flex;
}
  
nav li {
  margin: 0 10px;
}

nav darklight {
  margin-left: auto;
  padding-right: 70px;
}
  
nav a {
  color: white;
  text-decoration: none;
}

body {
  background-color: black;
}

h1 {
  color: white;
  font-family: Arial; 
}

h2 {
  color: white;
  font-family: Arial; 
}

p {
  color: white;
  font-family: Arial; 
}

a {
  color: white;
  font-family: Arial; 
  text-decoration: underline;
}

.title {
  background-color: rgba(0, 0, 0, 0); 
  width: 100%;
  height: 20%;
  text-align: center;
}
  
.title h1 {
  font-size: 80px;
  opacity: 0;
  filter: blur(8px);
}
  
.title h2 { 
  font-size: 30px;
  opacity: 0;
  filter: blur(10px);
}

#particles-js{
  width: 99%;
  height: 100%;
  background: rgb(0, 0, 0);
  position: absolute;
}

.vspace{
  width: 100%;
  height: 0px;
}

.hspace {
  width:6%;
  height: 100%;
}

.buttoncontainer{
  height: 10%;
  width:100%;
  display: flex;
  text-align: center;
}

.buttoncontainer button{
  border-radius: 0px;
  width: 12.5%;
  height:100%;
  font-size:2vw;
  color:white;
  background-color: rgb(0,0,0);
  cursor:pointer;
  border:2px solid rgb(0, 247, 255);
}

nav:hover {
  transition: 0.15s;
  background-color: rgb(3, 32, 59);
}

.buttoncontainer button:hover {
  transition: 0.15s;
  background-color: rgb(3, 32, 59);
}

