nav {
  background-color: rgba(0, 0, 0, 0.9); 
  width:98.7%;
  height: 7vh;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 50;
  border:2px solid rgb(0, 247, 255);
}
  
nav ul {
  list-style: none;
  display: flex;
}
  
nav li {
  margin: 0 10px;
}

nav darklight {
  margin-left: auto;
  padding-right: 70px;
}
  
nav a {
  color: white;
  text-decoration: none;
}

body {
  background-color: black;
}

h1 {
  color: white;
  font-family: Arial; 
}

h2 {
  color: white;
  font-family: Arial; 
}

p {
  color: white;
  font-family: Arial; 
}

a {
  color: white;
  font-family: Arial; 
  text-decoration: underline;
}

#particles-js{
  width: 99%;
  height: 100%;
  background: rgb(0, 0, 0);
  position: fixed;
  z-index: -50;
}


.vspace{
  width: 100%;
  height: 0px;
}

.hspace {
  width:6%;
  height: 100%;
}


.pubcontainer {
  width: 100%;
  height: 35vh;
  display:block;
  text-align: center;
}

.prepubs {
  background-color: rgba(0, 0, 0, 0.9);
  width: 100%;
  height: 80%;
  display:block;
  text-align: center;
  border:2px solid rgb(0, 247, 255);
}

.pubs {
  width: 100%;
  height: 80%;
  z-index: 1;
  position: relative;
  text-align: left;
  
}


.pubs p {
  padding-left:5%;
  padding-right:5%;
  font-size: 1vw;
}

.pubs a {
  padding-bottom: 27px;
  position: absolute;
  bottom: 0;
  font-size: 14px;
}

.appcontainer{
  width: 100%;
  height: 40vh;
  display:block;
  text-align: center;
}


.projectcontainer {
  width:100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  border:2px solid rgb(0, 247, 255);
}

.project {
  width:25.3%;
  height: 80%;
  text-align: center;
  display:block;
}

.projectdesc {
  opacity:0;
  display:block;
  position:absolute;
  width: 101%;
  height: 102%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
}

.projectdesc:hover {
  transition: 0.15s;
  opacity:1;
}

.projectdesc p{
  font-size: 20px;
}

.projectimage {
  width:100%;
  height: 80%;
  background-color: rgba(0,0,0,0);
  text-align: center;
  z-index: 2;
  position:relative;
}

.projectimage img {
  width:100%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
  border:2px solid rgb(0, 247, 255);
}

.project p {
  font-size: 15px;
  z-index: 3;
}

.project a {
  padding-left: 20px;
  font-size: 14px;
  z-index: 3;
}

nav:hover {
  transition: 0.15s;
  background-color: rgb(0, 32, 28);
}

.buttoncontainer button:hover {
  transition: 0.15s;
  background-color: rgb(0, 32, 28);
}

.pubcontainer .prepubs:hover {
  transition: 0.15s;
  background-color: rgb(0, 32, 28);
}

.appcontainer .projectcontainer:hover {
  transition: 0.15s;
  background-color: rgb(0, 32, 28);
}